@import '../vendor/bootstrap/css/bootstrap.min.css';
@import 'font-awesome.min.css';
@import 'theme.css';
@import 'nav.css';
@import 'nav-responsive.css';
@import 'pagination.css';
@import 'comment.css';

@font-face {
    font-family: 'tahoma';
    src: 
         url('../../../asset/Tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "tahoma"!important;
}

@media (min-width:993px){  
    body {    
        margin-top: 84px;
    }     
}